{% extends_admingenerated "NitraMiniTetradkaBundle:BuyerNew:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraMiniTetradkaBundle/Resources/public/js/jquery.maskedinput.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
<script type="text/javascript">
    
    // document загружен
    $(document).ready(function() {
        // преобразуем формат номера телефона
        $('#new_buyer_phone').mask('+38 (999) 999-99-99');
    });

</script>
{% endblock javascript_head %}
