{% extends "::base_admin.html.twig" %}

{% trans_default_domain "ErrorsPages" %}

{% block title %}{{ 'error_page.404_page_title'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'error_page.404_page'|trans }}</h1>
    <div class="error_page">
        <div class="error_status">404</div>
        <div class="text_error_page">
            <p>{{ 'error_page.404_text1'|trans }}</p>
            <p>{{ 'error_page.404_text2'|trans|raw }}</p>
        </div>
    </div>
{% endblock body %}

