{% trans_default_domain "ErrorsPages" %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ 'error_page.500_page_title'|trans }}</title>
        {% block stylesheets %} 
            {% stylesheets       
                'bundles/nitraminitetradka/css/admin.less' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="error_500 error_page">
            <h1 class="title_500">{{ 'error_page.500_page'|trans }}</h1>
            <div class="error_status">500</div>
            <div class="text_error_page"><p>{{ 'error_page.text_info'|trans|raw }}</p></div>
        </div>
    </body>
 </html>
