
{% block order_comment_form %}
    
<form action="{{ path('Nitra_MiniTetradkaBundle_Order_comment_add') }}"
      method="post" {{ form_enctype(commentForm) }} 
      id="order_comment_form"
      style="display:none;"
      >
    {{ form_errors(commentForm) }}
    
    <div class="form_row">
        {{ form_label(commentForm.comment) }}
        {{ form_errors(commentForm.comment) }}
        {{ form_widget(commentForm.comment) }}
    </div>
        
    <a href="javascript:void(0);" name="submit" onclick="order.comment.send();" class="button_icon i_save" >{% trans %}Добавить{% endtrans %}</a>
    <a href="javascript:void(0);" name="cancel" onclick="order.comment.cancel();" class="button" >{% trans %}Отмена{% endtrans %}</a>
    
    {{ form_rest(commentForm) }}
    
</form>
{% endblock order_comment_form %}
