{% extends_admingenerated "NitraMiniTetradkaBundle:OrderList:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraMiniTetradkaBundle/Resources/public/js/order.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript_head %}

{% block body %}
    {{ parent() }}
        
    {# Форма добавления комментария #}
    {% include "NitraMiniTetradkaBundle:OrderList:commentForm.html.twig" with {  } %}
        
{% endblock body %}

