{% extends_admingenerated "NitraMiniTetradkaBundle:OrderList:results.html.twig" %}

{% block list_tbody %}
    <tbody>
        
        {% if Orders|length > 0 %}
        
            {% for Order in Orders %}
                {{ render(url('Nitra_MiniTetradkaBundle_Order_render_row', {'pk': Order.id } )) }}
            {% endfor %}
            
            {% block object_actions_script %}
                {{ parent() }}
            {% endblock object_actions_script %}

        {% else %}
            {% include "NitraMiniTetradkaBundle:OrderList:row.no_result.html.twig" with {  } %}
        {% endif %}
            
    </tbody>
{% endblock list_tbody %}