{% extends_admingenerated "NitraMiniTetradkaBundle:OrderList:row.html.twig" %}


{# строка заказа  #}
{% block list_row %}
<tr class="list_trow" id="tr_order_id{{ Order.id }}">
    {% block list_row_content %}
        {{ parent() }}
    {% endblock list_row_content %}
    
    {% block object_actions %}
        {{ parent() }}
    {% endblock object_actions %}
    
</tr>
{% endblock list_row %}


{# ID заказа #}
{% block list_td_column_id %}
<div class="order_list_column_id">
    <strong class="order_list_id">№{{ Order.id }}</strong>
    </div>
{% endblock list_td_column_id %}


{# Покупатель #}
{% block list_td_column_buyer %}
<div class="list_td_column_buyer">
    <div class="order_list_buyer_name name">{{ Order.buyer.name }}</div>
    <div class="order_list_buyer_phone phone">{{ Order.buyer.phoneDisplay }}</div>
    <div class="order_list_buyer_city city">{{ Order.city }}
        <span class="order_list_buyer_address address">{{ Order.address }}</span>
    </div>
</div>
{% endblock %}


{# суммы по заказу #}
{% block list_td_column_amount %}
    <div class="ar bold order_list_total">{{ Order.total |number_format()}}</div>
{% endblock list_td_column_amount %}


{# статус заказа #}
{% block list_td_column_orderStatus %}
    <div class="list_td_column_orderStatus">
        <span id="order_status_{{ Order.id }}" class="icon_round i_{{ Order.OrderStatus.methodName }}" >
            <span class="icon_round {{ Order.OrderStatus.cssClass }}" title="{{ Order.OrderStatus.name }}"></span>
        </span>
        
        {# отображение доступных статусов  #}
        {% if orderAllowedStatuses is defined %}
        <div class="popup">
            <div class="order_list_statuses">
                {% for toStatus in orderAllowedStatuses %}
                    {% spaceless %}
                    <a href="javascript:void(0);" 
                       title="{{ toStatus.name }}"
                       class="icon_round {{ toStatus.cssClass }}"
                       onclick="return order.setStatus({{ Order.id }}, '{{ toStatus.methodName }}', '{{ toStatus.name }}', '{{ Order.OrderStatus.methodName }}'); return false;" >
                    </a>
                    {% endspaceless %}
                {% endfor %}
                <a class="colorbox" href="{{ path('Nitra_MiniTetradakBundle_Order_status_history', {'pk': Order.id }) }}">История</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}


{# комментарий #}
{% block list_td_column_comment %}
    <div class="order_comments">
        <div class="comments">
            <div id="comment_text{{ Order.id  }}">
                {{ Order.comment|raw }}
            </div>
        </div>
        <a class="link_icon new add_coment" href="javascript:void(0);" id="add_comment_link{{ Order.id  }}" onclick="order.comment.add({{ Order.id }}, this);" title="Добавить комментарий к заказу № {{ Order.id }}" >комментировать</a>
    </div>
{% endblock list_td_column_comment %}


{# позиций заказа #}
{% block list_td_column_orderEntry %}
    <table class="list_order_entry">
        
        {% for orderEntry in Order.orderEntry %}
            <tr>                       
                <td class="entry_name">
                    {{ orderEntry.entryName }}
                </td> 
                <td class="quantity">
                    {{ orderEntry.quantity }}
                </td>
                <td class="price ar">
                    {{ orderEntry.priceOut }}
                </td>
                <td class="order_status">
                    <span id="order_entry_status_{{ orderEntry.id }}" class="icon_round i_{{ orderEntry.OrderEntryStatus.methodName }}">
                        <span class="icon_round {{ orderEntry.OrderEntryStatus.cssClass }}" title="{{ orderEntry.orderEntryStatus.name }}"></span>
                    </span>
                    
                    {# отображение доступных статусов  #}
                    {% if orderEntryAllowedStatuses[orderEntry.id] is defined %}
                    <div class="popup">
                        <div class="order_entry_list_statuses">
                            {% for toStatus in orderEntryAllowedStatuses[orderEntry.id] %}
                                {% spaceless %}
                                <a href="javascript:void(0);" 
                                   title="{{ toStatus.name }}"
                                   class="icon_round {{ toStatus.cssClass }}"
                                   onclick="return order.orderEntry.setStatus({{ Order.id }}, {{ orderEntry.id }}, '{{ toStatus.methodName }}', '{{ toStatus.name }}', '{{ orderEntry.OrderEntryStatus.methodName }}'); return false;" >                       
                                </a>
                                {% endspaceless %}
                            {% endfor %}
                            <a class="colorbox" href="{{ path('Nitra_MiniTetradakBundle_OrderEntry_status_history', {'pk': orderEntry.id }) }}">История</a>
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock list_td_column_orderEntry %}
