{% extends "AdmingeneratorGeneratorBundle::base_admin.html.twig" %}

{% block title %}Mini Тетрадка{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets       
        'bundles/nitraminitetradka/css/admin.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript_head %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{#js для фиксированного хедера    <script src="{{ asset('bundles/nitraminitetradka/js/fixedheadertable.js') }}"></script>#}
{% endblock %}
    
{% block logo_name %}Mini Тетрадка{% endblock logo_name %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // документ готов
        $(document).ready(function(){
            // для кнопок save-and-list, save
            // добавить прогресбар загрузки
            $('form').has('[name=save-and-list], [name=save]')
                .children('.form-actions')
                .wrapInner('<div class="form-submit-buttons"></div>')
                .append('<img alt="{% trans %}Выполнение операции...{% endtrans %}" id="form_image_loader" class="form_image_loader" style="display: none;" src="{{ asset('bundles/nitraminitetradka/images/search-ajax-loader.gif') }}" />');

            // submit спрятать кноки показать прогресбар загрузки
            $('form').has('[name=save-and-list], [name=save]').submit(function(e){
                $('.form-submit-buttons').hide();
                $('.form_image_loader').show();
            });
        });
    </script>
{% endblock javascripts %}