@import url("../../admingeneratorgenerator/css/base_styles.less");


/*Results list*/
.results-list .table_list                       {
    .warranty                                   { background-position: 6px -414px, 0 0; }
    .link_icon                                  { padding-bottom: 3px; }
    tr:last-of-type .popup.popup_active .popup_content  { top: auto; bottom: -8px; left: 20px; }
}

/*Pagination page count*/
.pagination_page_count.pagination_top           { float: right; margin-top: -4px; margin-bottom: 6px;
    .btn-group                                  { position: relative;
        .btn                                    { display: inline-block; }
        .dropdown-menu                          { display: none; .round_box(#ccc); .absolute_right(25px, -2px); padding: 5px; background: #f7f7f7; 
            li                                  { padding: 5px 0; }
        }
        .dropdown-toggle                        { .button; }
        &:hover .dropdown-menu                  { display: block; }
    }
} 

/*ORDER LIST*/
/* td in small table and big */
.order_status, .td_orderStatus                  { .w1; white-space: nowrap; }
.entry_name                                     { white-space: normal; }

#table-list-Order .footable-row-detail .order_list_total  { text-align: left !important; }

/* disabled labels in footable in mobile version */
#table-list-Order.phone .footable-row-detail .footable-row-detail-name   { display: none; }

/*popup*/
#table-list-Order .popup .popup_content a       { display: inline-block; }

/*comment in footable in mobile version*/
.footable.breakpoint tr.footable-detail-show    {
    .icon_round                                 { border: 1px solid #fff; }
    .td_comment                                 { 
        small, .add_coment                      { color: #fff !important; }
    }
}

/*small table in big table*/
.list_order_entry .price                        { width: 6em; }
.list_order_entry .quantity                     { width: 2.4em; }

.footer_list_actions .pagination_page_count     { margin-top: -4px; }

/*form errors*/
.form_row .errors                               { padding-bottom: 5px; .red; }

/*batch_actions on list_order*/
#form-list-Order .batch_actions                 { .absolute_left(-7px, 200px); }

/*******error 404, 500**********/
.error_page                                 { float: none; width: 800px; margin: 30px auto; text-align: center;
    .error_status                           { color: #E2E2E2; font-size: 18em; }
    .text_error_page                        { display: inline-block; font-size: 1.2em; }
}
.error_500                                  {
    .title_500                              { color: #377197; }
    .text_error_page a                      { color: #377197; text-decoration: none;
        &:hover                             { text-decoration: underline; }
    } 
}



