<tr 
    id="orderEntryProductId__ProductId__"
    iteration="__iteration__"
    productId="__ProductId__"
    >

    <td class="order_entry_name">
        __ProductName__
    </td>
    <td>
        <div class="order_entry_quantity">
            {{ form_label(orderEntryPrototype.vars.prototype.quantity, 'Кол-во') }} 
            {{ form_widget(orderEntryPrototype.vars.prototype.quantity)|e }}
        </div>
        <div class="order_entry_price_out price">
            {{ form_label(orderEntryPrototype.vars.prototype.priceOut, 'Цена') }}
            {{ form_widget(orderEntryPrototype.vars.prototype.priceOut)|e }}
        </div>
        <div class="order_entry_total number">
            <label for="order_entry_total" onclick="">Всего</label>
            <input class="order_entry_total_input" type="text" readonly="" value="__Total__" />
        </div>
    </td>
        
        
    <td class="order_entry_delete" onclick="order.form.delProduct(this);">
        <a class="link_icon" href="javascript:void(0);" alt="{% trans %}Удалить{% endtrans %}" onclick="order.form.delProduct(this);">
            <i class="i_delete"></i>
        </a>
        {{ form_widget(orderEntryPrototype.vars.prototype.productId)|e }}
    </td>
</tr>
