{# установить флаг удаления позиции заказа  #}
{# проверить позицию заказа #}


{# позиция не сохранена, только что подбросили #}
{% if not orderEntry.vars.value.id %}
    {# разрешаем удалять #}
    {% set allowOrderEntryDelete = true %}
        
{# проверить допустимый статус позиции заказа #}
{% elseif orderEntry.vars.value.orderEntryStatus.methodName in ['waiting'] %}
    {# разрешаем удалять #}
    {% set allowOrderEntryDelete = true %}
        
{% else %}
    {# запрет удаления позиции заказа  #}
    {% set allowOrderEntryDelete = false %}

{% endif %}

<tr
    id="orderEntryProductId{{ orderEntry.vars.value.productId }}"
    productId="{{ orderEntry.vars.value.productId }}"
    iteration="{{ iteration }}" 
    class="{% if orderEntry.vars.value.orderEntryStatus and orderEntry.vars.value.orderEntryStatus.methodName in ['canceled'] %}order_entry_canceled{% endif %}"
    orderEntryStatus="{% if orderEntry.vars.value.orderEntryStatus %}{{ orderEntry.vars.value.orderEntryStatus.methodName }}{% endif %}"
    >
    
    <td class="order_entry_name">
        
        {# отображение названия позиции #}
        {% if orderEntry.vars.value.id %}
            {# позиция сохранена в БД, отображение навзания позиции  #}
            {{ orderEntry.vars.value.entryName }}
            
        {% else %}
            {# новая позиция не сохранена в БД #}
            {# отображение навзания продукта #}
            {% if productNames[orderEntry.vars.value.getProductId] is defined %}
                {{ productNames[orderEntry.vars.value.getProductId].name }}
            {% endif %}
        {% endif %}
        
    </td>
    
    <td>
        <div class="order_entry_quantity">
            {{ form_errors(orderEntry.quantity) }}
            {{ form_label(orderEntry['quantity'], 'Кол-во') }}  
            {{ form_widget(orderEntry.quantity) }}
        </div>
        
        <div class="order_entry_quantity price">
            {{ form_errors(orderEntry.priceOut) }}
            {{ form_label(orderEntry['priceOut'], 'Цена') }}
            {{ form_widget(orderEntry.priceOut) }}
        </div>
        
        <div class="order_entry_total number">
            <label for="order_entry_total" onclick="">Всего</label>
            <input class="order_entry_total_input" type="text" readonly="" value="{{ orderEntry.vars.value.getTotal }}" />
        </div>
    </td>
    
    
    
    <td class="order_entry_delete" onclick="order.form.delProduct(this);">
        {% if allowOrderEntryDelete %}
            <a class="link_icon" href="javascript:void(0);" alt="{% trans %}Удалить{% endtrans %}" onclick="order.form.delProduct(this);">
                <i class="i_delete"></i>
            </a>
        {% endif %}
        {{ form_errors(orderEntry.productId) }}
        {{ form_widget(orderEntry.productId) }}
    </td>
</tr>
