{% extends_admingenerated "NitraMiniTetradkaBundle:OrderEdit:form.html.twig" %}

{% block form %}
    <div class="order_tabs">
        <div class="tabs">
            <a data-tab="#tabs-1" href="#">Товары</a>
            <a data-tab="#tabs-2" href="#">Информация
                {% block product_count %} <span class="text_round">{# отображение количества добавленных в заказ товаров #}</span>{# отображение количества добавленных в заказ товаров #}{% endblock product_count %}
            </a>
        </div>
        <div class="admin_form">
            <div class="order_tabs_block">
                <fieldset id="tabs-1" class="left_block">
                   {{ form_start(searchProductForm, {'action': path('Nitra_MiniTetradkaBundle_search_product'), 'method': 'POST', 'attr': { 'id': 'search_product_form', 'novalidate': 'novalidate' } }) }}
                        {{ form_errors(searchProductForm) }}
                        {{ form_row(searchProductForm.categoryId) }}
                        {{ form_row(searchProductForm.name, {'icon': 'i_search'}) }}
                    {{ form_end(searchProductForm) }}
                    <div class="search_results_loader">
                        <div id="seacrh_product_list" class="search_results"></div>
                        <img alt="{% trans %}Поиск товаров...{% endtrans %}" id="loader" class="loader" style="display: none;" src="{{ asset('bundles/nitraminitetradka/images/search-ajax-loader.gif') }}"> 
                    </div>
                </fieldset>
                <fieldset id="tabs-2" class="right_block">
                    <form class="admin_form"
                        {% if Order.id %} action="{{ path("Nitra_MiniTetradkaBundle_Order_update", { 'pk': Order.id }) }}"
                        {% else %} action="{{ path("Nitra_MiniTetradkaBundle_Order_create") }}"
                        {% endif %} method="post" {{ form_enctype(form) }}>
                        {{ form_errors(form) }}
                        <div class="buyer_info">
                            {{ form_row(form['buyer_name'], {'icon': 'i_client'}) }}
                            {{ form_row(form['buyer_phone'], {'icon': 'i_phone'}) }}
                        </div>
                        
                        {{ form_row(form['city'], {'icon': 'i_sklad'}) }}
                        <div class="check_group">
                            {{ form_row(form['isDirect']) }}
                            {{ form_row(form['isCod']) }}
                        </div>
                        {{ form_row(form['address']) }}
                        <div class="delivery_info">
                            {{ form_row(form['deliveryDate']) }}
                            {{ form_row(form['deliveryCost'], {'icon': 'i_dollar'}) }}
                        </div>
                        
                        {% if Order.comment %}
                            <div class="form_row field_comment">
                                <label class="required" for="order_comment"></label>
                                <div class="field_content">
                                    {{ Order.comment|raw }}
                                </div>
                            </div>
                        {% endif %}
                        
                        {{ form_row(form['commentAdd'], {'icon': 'i_comment'}) }}
                        
                        {# подключить шаблон отображения результатов расчета стоимостей доставки #}
                        {#% include "NitraMiniTetradkaBundle:OrderEdit:estimateDelivery.html.twig" %#}

                        <div class="form_block form_fieldset_order_entry">
                            <table class="table_order_entry table table_responsive" id="cartListTable" add-block='{% include "NitraMiniTetradkaBundle:OrderEdit:cartProductTrPrototype.html.twig" with {'orderEntryPrototype' : form.orderEntry } %}' >
                                <thead>
                                    <tr>
                                        <th>{% trans from "Admin" %}Товар{% endtrans %}</th>
                                        <th class="order_entry_thead"><span class="order_info">{% trans from "Admin" %}Кол-во{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans from "Admin" %}Цена{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans from "Admin" %}Всего{% endtrans %}</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="cartList">
                                    {% for orderEntry in form['orderEntry'] %}
                                        {% include "NitraMiniTetradkaBundle:OrderEdit:cartProductTr.html.twig" with { 'iteration':loop.index } %}
                                    {% else %}
                                        {# отображение пустого виджета orderEntry, исключение из form_rest(form) #}
                                        {% include "NitraMiniTetradkaBundle:OrderEdit:cartProductTrNull.html.twig" %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="order_total">
                                {% trans from "Admin" %}Итого по заказу:{% endtrans %}
                                <span id="order_total">{{ Order.getTotal }}</span>
                            </div>
                        </div>

                        {{ form_rest(form) }}

                        {{ block ('form_buttons') }}
                    </form>
                </fieldset>
            </div>
        </div> 
    </div>
    <script>
    //просчет высоты таблицы с результатами поиска относительно высоты окна браузера
    $(document).ready(function() {
        function divresize(block, headerHeight, footerHeight) {
            var windowHeight = $(window).height(); //определяем высоту окна браузера
            $(block).css('height', windowHeight - headerHeight - footerHeight); //устанавливаем высоту блока(равно высоте окна за вычетом шапки и подвала)
        }
        var offset = $('#seacrh_product_list').offset().top;
        divresize('#seacrh_product_list', offset, 10); //вызываем функцию изменения размера блока
        $(window).bind("resize", function(){ //при изменении размера окна вызываем функцию
            divresize('#seacrh_product_list', offset, 10);
        });
    });
    </script>
{% endblock form %}



