{% extends_admingenerated "NitraMiniTetradkaBundle:OrderEdit:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts 
            '@NitraMiniTetradkaBundle/Resources/public/js/order.js' 
            '@NitraMiniTetradkaBundle/Resources/public/js/jquery.maskedinput.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
<script type="text/javascript">
    
    // document загружен
    $(document).ready(function() {
        
        // Отображаем или скрываем поле Адресная доставка
        $('#order_isDirect').change(function() {
            if (this.checked) {
                $('.field_address').show();
            } else {
                $('.field_address').hide();
            }
        }).change();
        
        // Безконечная прокрутка левого списка
        order.form.activeScroll = true; //флаг , который принимает 'false' при попадание скрола в самый низ
        $('#seacrh_product_list').scroll(function() {
            //проверка на скролинг в самый низ , флаг и присутствие ссылки
            if (this.scrollTop == this.scrollHeight - this.clientHeight && order.form.activeScroll) {
                order.form.searchProduct('scroll');
            }
        });
        
        // поиск товара по категории
        $('#search_product_categoryId').change(function() {
            // проверка наличия критериев поиска
            // выбран фильтр по категории или фильтр по названию продукта
            if ($(this).val() || $('#search_product_name').val()) {
                // поиск товара
                order.form.searchProduct('search');
            }
        });        
        
        // отключаем поиск продуктов 
        // при нажатии на клавиш
        $('#search_product_name').on('keydown', function(e){
            // код нажатой клавиши
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            
            // проверить код отпускаемой клавиши
            // если не Enter, Esc
            if (keyCode == 13 || keyCode == 27) {
                // отменяем все действия
                e.preventDefault();
                e.stopPropagation();
            }
        });
        
        // поиск продуктов по названю
        // при отпускании клавиши
        $('#search_product_name').on('keyup', function(e){
            
            // код нажатой клавиши
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            
            // Esc код отпускаемой клавиши
            if (keyCode == 27) {
                // игнорируем действия
                return false;
            }
            
            // проверка таймера поиска 
            if (order.form.searchTimer) {
                clearTimeout(order.form.searchTimer);
            }
            
            // запуск поиска по таймеру
            order.form.searchTimer = setTimeout(function() {
                order.form.searchProduct('search');
            }, 500);
            
        });
        
        // пересчитать total по заказу 
        // при первой загрузке ктраницы
        // и при изменении кол-ва и цены
        order.form.recalcTotal();
        $('#cartList .quantity, .price_out').change(function() {
            order.form.recalcTotal(this);
        });
                
        // преобразуем формат номера телефона
        $('#order_buyer_phone_name').mask('+99 (999) 999-99-99');
    });

</script>
{% endblock javascript_head %}