
{% for product in products %}
    
<tr 
    productId="{{ product.productId }}"
    productName="{{ product.productName }}"
    productArticle="{{ product.article }}"
    priceOut="{{ product.priceOut }}"
    isActive="{{ product.isActive }}"
    class="tr_search_product {% if product.isActive %} active {% endif %}{% if product.colored %}colored{% endif %}"
    onclick="order.form.addProduct(this);"
    >
    
    <td class="product_name"> 
        {{ product.productName }} 
    </td>
    
    <td class="price_out ar number nowrap"> 
        {{ product.priceOut }} 
    </td>
    <td class="w1"> 
        <span class="icon_round i_download"></span>
    </td>
    
</tr>
{% endfor %}