<div class="search_product">
    
    <table id="seacrh_product_table">
        <thead>
            <tr>
                <th>{% trans %}Название продукта{% endtrans %}</th>
                <th>{% trans %}Цена{% endtrans %}</th>
                <th class="w1"></th>
            </tr>
        </thead>
        <tbody>
            {% include "NitraMiniTetradkaBundle:OrderEdit:searchProductTr.html.twig" with { 'products': products } %}
        </tbody>
        
    </table>        
    {#js для фиксированного хедера <script type="text/javascript">
        $(document).ready(function() {
            $('#seacrh_product_table').fixedHeaderTable({ autoResize: true, height: '300' });
        });
     </script>#}
</div>
