<h1>История статусов по позиции <br />{{ orderEntry }}</h1>

<table class="table">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Из статуса</th>
        <th>В статус</th>
        <th>Кем</th>
    </tr>
    </thead>
    <tbody>
    {% for statusHistory in orderEntry.orderEntryStatusHistory %}
        <tr>
            <td>{{ statusHistory.createdAt|date("d.m.Y H:i") }}</td>
            <td>
                <span class="icon_round {{ statusHistory.fromStatus.cssClass }}"
                      title="{{ statusHistory.fromStatus }}"></span>
                {{ statusHistory.fromStatus }}
            </td>
            <td>
                <span class="icon_round {{ statusHistory.toStatus.cssClass }}"
                      title="{{ statusHistory.toStatus }}"></span>
                {{ statusHistory.toStatus }}
            </td>
            <td>{{ statusHistory.createdBy }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="button_icon i_close">Отмена</a>

<script type="text/javascript">
    $('a.i_close').click(function() {
        $.fn.colorbox.close();
    });
</script>
